<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AutoMarket.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            @{
                var isAdmin = User.IsInRole("Admin");
                if (isAdmin)
                {
                    <!-- Left-side navigation -->
                    <nav class="col-md-2 d-md-block bg-dark sidebar">
                        <div class="position-sticky pt-3">
                            <h5 class="text-white text-center">Auto-Market</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="Admin" asp-controller="Home" asp-action="Index">
                                        <span data-feather="home"></span>
                                        Admin
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="Admin" asp-controller="CarBrands" asp-action="Index">
                                        <span data-feather="file"></span>
                                        Car Brands
                                    </a>
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="Admin" asp-controller="CarBrands" asp-action="Create">Add a Car Brand</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="Admin" asp-controller="CarModels" asp-action="Index">
                                        <span data-feather="shopping-cart"></span>
                                        Car Models
                                    </a>
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="Admin" asp-controller="CarModels" asp-action="Create">Add a Car Model</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="Admin" asp-controller="MotorcycleBrands" asp-action="Index">
                                        <span data-feather="users"></span>
                                        Motorcycle Brands
                                    </a>
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="Admin" asp-controller="MotorcycleBrands" asp-action="Create">Create Motorcycle Brand</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="Admin" asp-controller="MotorcycleModels" asp-action="Index">
                                        <span data-feather="bar-chart-2"></span>
                                        Motorcycle Models
                                    </a>
                                    <ul class="nav flex-column ms-3">
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="Admin" asp-controller="MotorcycleModels" asp-action="Create">Create Motorcycle Model</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                }
            }
            <!-- Main content area -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
